body {
    color: #cbcbcb;
    background-color: black;
}

h1 {
    color:deepskyblue;
    padding: 0.25rem;
}

h4 {
    color: rgba(203,203,203,0.75);
}

.imgLayout{
    display:flex;
    align-items: flex-end;
}

.imgOfSelf{
    width: 30% ;
    height: 30% ;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 1rem;
}

.paragraphHeads{
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.25);
}

.intro-section{
    align-items: center;
    gap: 3rem;
    margin: 2rem;
    padding: 1rem;
    background-color: red;
}

.title{
    margin-bottom: -0.5rem;
}
