
body {
    margin: 0;
    padding: 0;
}

header {
    background-color: cornflowerblue;
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
}

h2 {
    max-width: 100%;
}

ul {
    list-style-type: block;
    height: 5%;
}

li {
    display: inline;
}

.navbarLink{
    margin-left: 5px;
    padding-right: 25px;
    color: inherit;
    text-decoration: inherit;
    background-color: inherit;
}

.navbarLink:hover{
    margin-left: 5px;
    padding-right: 25px;
    color: inherit;
    text-decoration: inherit;
    background-color: azure;
}

.title{
    padding-left: 5%;
    font-weight: bolder;
}

.body {
    padding-top: 125px;
    padding-left: 10px;
}

.imageOfSelfContainer {
    padding-left: 50px;
    display:flex;
    align-items: flex-start;
    height: 100%;
    margin-bottom: 3rem;
}

.imageOfSelf {
    width: 400px ;
    height: 70% ;
    margin-left: 7%;
    margin-right: 0.25rem;
    border-radius: 1rem;
    box-shadow: 5px 5px #ffffff;
}

.descriptionOfSelf {
    padding-left: 15px;
    color: gray;
    font-weight: bold;
    max-width: 100%;
}

.skillImage {
    width: 100px;
    height: 100px;
}

/* body {
    color: #cbcbcb;
    background-color: black;
}

h1 {
    color:deepskyblue;
    padding: 0.25rem;
}

h4 {
    color: rgba(203,203,203,0.75);
}

.bodyParagraph{
    width: 75%;
    margin-left: 2rem;
}

.imgLayout{
    display:flex;
    align-items: flex-end;
    width: 70%;
    height: 100%;
    margin-bottom: 3rem;
}

.imgDivLayout{
    width: 100%;
}

.imgOfSelf{
    width: 70% ;
    height: 70% ;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 1rem;
    box-shadow: 5px 5px #ffffff;
}

.paragraphHeads{
    margin-left: 1rem;
    text-align: center;
    width: 10rem;
    color: #ffffff;
    background-color: deepskyblue;
    border-radius: 1rem;
}

.intro-section{
    align-items: center;
    gap: 3rem;
    margin: 2rem;
    padding: 1rem;
    background-color: red;
}

.title{
    max-width: 5rem;
    margin-bottom: -0.5rem;
} */
