body {
    color: #cbcbcb;
    background-color: black;
}

h1 {
    color:deepskyblue;
    padding: 0.25rem;
}

h4 {
    color: rgba(203,203,203,0.75);
}

.bodyParagraph{
    width: 75%;
    margin-left: 2rem;
}

.imgLayout{
    display:flex;
    align-items: flex-end;
    width: 70%;
    height: 100%;
    margin-bottom: 3rem;
}

.imgDivLayout{
    width: 100%;
}

.imgOfSelf{
    width: 70% ;
    height: 70% ;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    border-radius: 1rem;
    box-shadow: 5px 5px #ffffff;
}

.paragraphHeads{
    margin-left: 1rem;
    text-align: center;
    width: 10rem;
    color: #ffffff;
    background-color: deepskyblue;
    border-radius: 1rem;
}

.intro-section{
    align-items: center;
    gap: 3rem;
    margin: 2rem;
    padding: 1rem;
    background-color: red;
}

.title{
    max-width: 5rem;
    margin-bottom: -0.5rem;
}
